"*":
  "atom-beautify":
    _analyticsUserId: "f6506cf0-e2e3-4ef1-9dc5-0811b1c3c6c3"
  "autocomplete-plus": {}
  core:
    ignoredNames: [
      ".idea"
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
    ]
  editor:
    fontSize: 12
    invisibles: {}
    scrollPastEnd: true
  "exception-reporting":
    userId: "e4b35371-ff79-f2f2-d644-ec0e7cf636a5"
  "file-icons":
    coloured: false
  linter:
  "linter-csslint": {}
  "linter-htmlhint": {}
  "linter-jscs":
    displayAs: "warning"
    preset: "google"
  "linter-jshint":
  "markdown-preview":
    breakOnSingleNewline: true
    useGitHubStyle: true
  "one-dark-ui": {}
  "open-terminal-here": {}
  "tree-ignore": {}
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
